<nav id="sidebar" class="active">
    
    <div class="sidebar-header">
        <img class="rounded-circle profile-img" src="/static/images/gk.jpg">
        <a href="/" class="name">M Gopi krishna</a>
        <p class="profession">Entrepreneur</p>
        <div class="row">
            <ul class="list-unstyled social-sidebar">
                <li><a target="_blank" href="https://github.com/fromgopi"> <i class="bi bi-github fa-lg"></i> </a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/gopi-krishna-muktevi-88799662/"> <i class="bi bi-linkedin fa-lg"></i> </a></li>
                <li><a target="_blank" href="https://www.facebook.com/gopikrishna.muktevi/"> <i class="bi bi-facebook fa-lg"></i> </a></li>
                <li><a target="_blank" href="https://twitter.com/muktevigk"> <i class="bi bi-twitter fa-lg"></i> </a></li>
            </ul>
        </div>
    </div>
    <hr class="sidebar-hr">
    <ul class="list-unstyled">
        <li><a class="" href="/home/" id="home"> Home </a></li>
        <li><a class="" href="/services/" id="services"> Services </a></li>
        <li><a class="" href="/experience/" id="experience"> Experience </a></li>
        <li><a class="" href="/projects/" id="projects"> Projects </a></li>
        <li><a class="" href="/blog/" id="blog"> Blog</a></li>
        <li><a class="" href="/contact/" id="contact"> Contact</a></li>
    </ul>
    <hr class="sidebar-hr">
    <div class="copyright text-center">
        © 2022 Copyright. <span>All rights reserved.</span>
    </div>
</nav>